<div class="footer">
  <div class="footer-text">
    <div><i class="far fa-copyright"></i> 2020 Cambridge Gig Guide</div>
    <div>
        Created with <span class="heart">&#10084;</span> by <span class="do-text">DimedOut! Studios</span>
        <a href="https://www.dimedout.com" target="_blank"><i class="far fa-window-maximize footer-sm-icon"></i></a>
        <a href="https://www.instagram.com/dimedoutdev" target="_blank"><i class="fab fa-instagram footer-sm-icon"></i></a>
      </div>
  </div>
  <div class="pro-ven-btn-footer button"><a href="#">Promoter/Venue Login</a></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../assets/scripts/main-site-scripts.js"></script>
<script src="../../assets/scripts/gig-info-scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
var picker = new Pikaday({ field: document.getElementById('date') });
</script>

</body>
</html>