</div>
 <div class="footer-wrapper">
    <div class="footer">
      <div class="footer-text">
        <div><i class="far fa-copyright"></i> 2023 Cambridge Gig Guide</div>
        <div>
            <a href="https://www.instagram.com/dimedoutstudios" target="_blank"><i class="fab fa-instagram footer-sm-icon"></i></a>
          </div>
      </div>
      <button onclick="window.location.href='/login'" class="login-btn-footer button-dark">Promoter/Venue Login</button>
    </div>
  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../../assets/scripts/main-site-scripts.js"></script>
<script src="../../assets/scripts/gig-info-scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

<!-- Script for Jquery Form Validation -->
<script>
  $("form").validate({
    rules: {
    date: {
      required: true,
      date: true
    },
    email: {
      required: true,
      email: true
    },
    name: {
      maxlength: 40,
    }
  }
  });
</script> 

<script>
var picker = new Pikaday({ field: document.getElementById('date') });
</script>

</body>
</html>