<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
  <link rel="stylesheet" type="text/css" href="../../assets/styles/styles.css">




  <title>Cambridge Gig Guide</title>
  <% if (!currentUser) { %>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  <% } else { %>
    <li> Signed in as: <%= currentUser.name %></li>
    <li><a href="/logout">Logout</a></li>
  <% } %>
</head>
<body>
  
