<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../../assets/styles/main-styles.css">
  <link rel="stylesheet" type="text/css" href="../../assets/styles/content-styles.css">
  <link rel="stylesheet" type="text/css" href="../../assets/styles/form-styles.css">


  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
</head>

  <body>
    <nav class="navbar">
      <div class="logo"><img src="/assets/images/logos/cgg-logo.png" alt="Cambridge Gig Guide Logo" class="logo"></div>
      <ul class="navbar-links">
        <li class="nav-item nav-gigs"><a href="/gigs">Gig Listings</a></li>
        <li class="nav-item nav-venues"><a href="#">Venues</a></li>
        <li class="nav-item nav-contact"><a href="#">Contact Us</a></li>
      </ul>
          <ul class="sm-icons">
            <li class="nav-item nav-social">
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram fa-instagram-nav"></i>
            </li>
          </ul>
      <span class="hamburger" id="hamburger">
        <i class="fa fa-bars" onclick="openModal()"></i>
      </span>

      <div class="nav-modal overlay" id="nav-modal">

          <div class="nav-modal-header">
            <div class="logo logo-modal"><img src="/assets/images/logos/cgg-logo.png" alt="Cambridge Gig Guide Logo" class="logo"></div>
            <a href="javascript:void(0)" class="closeBtn" onclick="closeModal()"><i class="fas fa-times"></i></a>
          </div>

          <div class="nav-modal-content">
            <ul class="nav-modal-links">
              <li class="nav-item nav-item-cont-modal nav-gigs"><a href="/gigs">Gig Listings</a></li>
              <li class="nav-item nav-item-cont-modal nav-venues"><a href="#">Venues</a></li>
              <li class="nav-item nav-item-cont-modal nav-contact"><a href="#">Contact Us</a></li>
            </ul>
          </div>
          
          <div class="nav-modal-sm">
            <ul class="modal-sm-icons">
              <li class="nav-item nav-item-social-modal"><i class="fab fa-twitter fa-twitter-modal"></i></li>
              <li class="nav-item nav-item-social-modal"><i class="fab fa-instagram fa-instagram-modal"></i></li>
              <li class="nav-item nav-item-social-modal"><i class="far fa-envelope fa-envelope-modal"></i></li>
            </ul>
          </div>
  
          <div class="nav-modal-footer" id="nav-modal-footer">
            <div class="nav-modal-pro-ven"><a href="#">Promoter/Venue Login</a></div>
          </div>

        </div>
      
    </nav>

    <div class="main-content">

    
  
