<% include partials/_header %>

<h1> All Gigs Page</h1>

<% gigs.forEach((gig) => { %>
  <div>
    <%= gig.name %>
  </div>
  <div>
    <%= gig.supports %>
  </div>
  <div>
    <a href='/gigs/<%= gig.nameForUrl %>'>Link to gig page</a>
  </div>
<% }) %>

<p> All Gigs Page </p>

<% include partials/_footer %>