<% include ./partials/_header %>

<div class="error-404-wrapper">
    <div class="error-heading">404</div>
    <div class="error-sub-heading">Page not found</div>
</div>

<% include ./partials/_footer %>
