<!-- For loop for flash error message generation -->

<div id="messages">
    <% Object.keys(messages).forEach(function (type) { %>
      <% messages[type].forEach(function (message) { %>
        <div class="alert alert-"+type></div>
      <% }) %>
    <% }) %>
</div>