<% include ../partials/_header %>

<div class="wrapper">
    <div class="form-wrapper">
        <div class="form-heading-block">
            <h1 class="form-heading">Password Reset</h1>
        </div>
        <div class="form-text"> Please enter your account email address below. An email will be sent to you to reset your password.</div>
        <form class="form" action="/password-reset" method="POST">
            <div class="input-field">
                <label for="email">Email:</label>
                <input type="email" name="email" required>
            </div>
                <input type="submit" value="Submit" class="submit-btn">
        </form>
    </div>
</div>

<% include ../partials/_footer %>