<% include ../partials/_header %>

<% for (var venue of sortedVenues) { %>
  <div class="venues-wrapper">
      <button onclick="window.location.href='/venues/<%= venue.nameForUrl %>'" class="all-venues-venue button-light"><%= venue.name %></button>
  </div>





<% } %>

<% include ../partials/_footer %>