<% include ../partials/_header %>

<% for (var venue of sortedVenues) { %>
  <div class="venues-wrapper">
    <a href="/venues/<%= venue.nameForUrl %>">
      <button class="all-venues-venue button-light"><%= venue.name %></button>
    </a>
  </div>
<% } %>

<% include ../partials/_footer %>