<% include ../partials/_header %>

<a href="/gigs">Back to all gigs</a>

<h1>Create A New Venue</h1>
   
   <form id="Form" action="/venues" method="POST" enctype="multipart/form-data">

    <h2>Event Details</h2>
   
        <input type="text" name="name" placeholder="Venue Name">
        <div>
            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept="image/*" required>
        </div>
        <input type="text" name="facebook" placeholder="Facebook">
        <input type="text" name="twitter" placeholder="Twitter">
        <input type="text" name="instagram" placeholder="Instagram">
        <textarea type="text" name="description" placeholder="Description"></textarea>

    <input type="submit" value="Submit">
</form>

<% include ../partials/_footer %>