/* Spotlight */

.spotlight {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.spotlight-card {
    border: solid 2px #000000;
    height: 100%;
    width: 160%;
    margin-right: 2rem;
}

.card-text {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.gig-name {
    font-weight: 400;
}

.gig-name-card {
    text-transform: uppercase;
    margin-top: 0.5rem;
}

.gig-date {
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.monthly-update h1 {
    margin-top: -1rem;
    margin-bottom: 1rem;
    
}

.monthly-update-text {
    font-size: 1.1rem;
}

/* Spotlight End */

/* Index Gig Listings */

.gig-listings-heading {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}

/* Carousel */

.gig-card {
    border: solid 2px #000000;
    height: 100%;
}

#slick-slide-control00 {
    visibility: hidden;
}

.slick-prev:before, .slick-next:before {
    color:#BFBFBF !important;
}

.slick-track{
    display: flex !important;
}

.slick-slide {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    height: inherit !important;
}

.slick-current {
    opacity: 1.0;  
}

.slick-slider {
    height: 100%;
    margin-bottom: 2rem;
}

/* Index Gigs Panel */

.column-left {
    float: left;
    width: 48%;
    margin-right: 2rem;
}
  
.column-right {
    float: left;
    width: 48%;
}

.column-right .gig-date {
    margin-bottom: 1rem;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.gig-description {
    white-space: pre-wrap;
    white-space: pre-line;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

/* Index Gigs End */

/* Gig Listings */

.gig-listing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-row-gap: 2rem;
    margin-bottom: 3rem;
}

.month-date-heading {
    margin-bottom: 2rem;
}

.divider {
    border: 1px solid #000000;
    margin-bottom: 1rem;
}

/* Gig Page */

.info-page-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info-page-button {
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.info-page-links {
    margin-bottom: 2rem;
}

.info-page-link:hover {
    text-decoration: underline;
}

.info-page-icon {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    vertical-align: middle;
}

.info-page-icon-fb,
.info-page-icon-insta,
.info-page-icon-yt {
    font-size: 1.75rem;
}

.band-description {
    margin-bottom: 2rem;
    align-items: flex-start;
}

.info-page-description {
    white-space: pre-wrap;
    white-space: pre-line;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin-right: 2rem;
}

.youtube-video {
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.youtube-video iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* Venues */

.all-venues-venue {
    width: 100%;
    border: 2px solid #000000;
    padding: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}
















/* Tablets */

@media screen and (max-width: 1000px) {
    .spotlight {
        flex-direction: column-reverse;
        margin: auto;
        margin-bottom: 2rem;
    }

    .spotlight-card {
        width: 100%;
    }

    .monthly-update-heading {
        text-align: center;
    }

    .monthly-update-text {
        margin-bottom: 2rem;
    }

    .column-left {
        display: none;
    }

    .column-right {
        width: 100%;
        margin: auto;
    }

    .newly-released-gigs {
        margin-bottom: 3rem;
    }
    
    .upcomming-gigs {
        margin-bottom: 3rem;
    }
    
    .upcomming-gigs .gig-description {
        margin-bottom: 0.5rem;
    }

    .gig-listing {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    .gig-listing {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .gig-listing {
        display: grid;
        grid-template-columns: 1fr;
    }
  }

