/* Main/Body Styles */
* {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  position: relative;
}

*,*:focus,*:hover{
  outline:none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

section {
  margin-bottom: 3rem;
}

.main-content {
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;  
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid black;
  font-family: 'Oswald', sans-serif;
}

.button-light {
  background-color: #ffffff;
}

.button-light:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}

.button-dark {
  background-color: #000000;
  color: #ffffff !important;
}

.button-dark:hover {
  cursor: pointer;
}
/* Main/Body Styles End */

/* Navbar */

/* Navbar */
nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: "logo links sm-icons";
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.logo {
  grid-area: logo;
  height: 8rem;
  margin-right: auto;
}

.nav-item, .nav-item a {
  list-style: none;
}

.navbar-links li {
  display: inline-block;
  padding: 0 1.5rem;
}

.navbar-links li a, .sm-icons i {
  color: #000000;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.navbar-links li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.sm-icons {
  margin-left: 1rem;
}

.fa-instagram-nav,
.fa-user-nav {
  margin-left: 1rem;
}

.logout-btn {
  margin-left: 1rem;
}

.hamburger {
  display: none;
}

.nav-modal {
  display: none;
}
/* Navbar End */

/* Alerts */
.alert-error {
  text-align: center;
  margin-bottom: 4rem;
  color: #e20325;
  border: solid 2px #e20325;
}

.alert-success {
  text-align: center;
  margin-bottom: 4rem;
  color: #21bf73;
  border: solid 2px #21bf73;
}
/* Alerts End */

/* 404 Error Page */
.error-404-wrapper {
  text-align: center;

}
.error-heading {
  font-size: 12rem;
  font-family: 'Oswald', sans-serif;
}

.error-sub-heading {
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;

}
/* 404 Error Page End */

/* Footer Start */
.footer {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Oswald', sans-serif;
}

.login-btn-footer {
  margin-left: auto;
}

.heart {
  color: #CC0000;
  font-size: 1.1rem;
}

.developer-text {
  font-weight: 400;
}

.footer-sm-icon {
  margin-left: 0.5rem;
}
/*Footer End */

/*Media Queries */
@media screen and (max-width: 1100px) {
  body {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  section {
    margin-bottom: 2rem;
  }

  h1 {
      font-size: 2rem;
  }

  .logo {
      height: 6rem;
    }
  
  .navbar-links, .sm-icons {
      display: none;
  }

  .hamburger {
      display: inline;
  }

  .hamburger i {
      text-align: center;
      font-size: 1.5rem;
      color: #000;
  }

  /* Modal Start */
  .overlay {
    position: fixed;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-flow: column;
    z-index: 1;
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #000000;
    grid-auto-rows: fit-content(1rem);
    transition: 1.0s;
    -webkit-transition: 1.0s;
    -moz-transition: 1.0s;
  }

  #nav-modal-gigs,
  #nav-modal-venues,
  #nav-modal-contact,
  #nav-modal-sm,
  #nav-modal-footer {
    visibility: hidden;
  }

  .nav-modal-footer {
    margin-bottom: 2rem;
    margin-left: -1rem;
  }

  .nav-modal-header {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    justify-content: flex-end;
    margin-top: 2rem;
    height: 5rem;
  }

  .logo-modal {
    filter: brightness(0) invert(1);
    margin-left: 2rem;
  }

  .fa-times {
    margin-right: 2rem;
    margin-top: 2rem;
    font-size: 1.75rem;
    color: #ffffff;
  }

  .nav-modal-links-wrapper,
  .nav-modal-footer {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .nav-modal-links-wrapper {
    flex: 1;
  }

  .nav-modal-links {
    margin-bottom: 1.5rem;
  }

  .nav-modal-links li,
  .modal-sm-icons li {
    list-style-type: none;
  }

  .nav-modal-links button,
  .nav-modal-footer button {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }

  li button,
  .nav-modal-footer button {
    background-color: #000000;
    border: solid 2px #ffffff;
  }

  li button {
    box-sizing: border-box;
    padding: 0.3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 4rem;
    width: 100%;
  }

  .nav-modal-footer button {
    padding: 0.3rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  .modal-btn:hover {
    cursor: pointer;
  }

  .modal-sm-icons {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .modal-sm-icons i {
    font-size: 2rem;
  }

  .modal-sm-icons a {
    color: #ffffff;
  }

  .modal-sm-icons li {
    float: left;
    padding: 1rem;
  }

  .footer {
      text-align: center;
      justify-content: center;
  }
  
  .login-btn-footer {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .spotlight {
    margin-top: -1rem !important;
  }

  .error-heading {
    font-size: 10rem;

  }
  
  .error-sub-heading {
    font-size: 3rem;

  }

  .nav-modal-footer button {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}










