<% include ../partials/_header %>

<div class="form-wrapper">
    <div class="form-heading-block">
        <h1 class="form-heading">Create a new gig</h1>
    </div>

    <form id="form" class="form" action="/gigs" method="POST" enctype="multipart/form-data"> 

    <div class="input-field">
        <label for="headliner">Headliner</label>
        <input type="text" name="name">
    </div>
    <div class="input-field">
        <label for="supports">Supports</label>
        <input type="text" name="supports">
    </div>

    <div class="input-field">
        <label for="venue">Venue</label>
        <div class="custom-select">
            <select type="text" name="venue" placeholder="venue">
                <option class="venue-placeholder" value="Please Choose A Venue"> Select a venue </option>
                <option value="Cambridge Corn Exchange"> Cambridge Corn Exchange </option>
                <option value="Flying Pig"> Flying Pig </option>
                <option value="Hidden Rooms"> Hidden Rooms </option>
                <option value="Storey's Field Centre"> Storey's Field Centre </option>
                <option value="The Blue Moon"> The Blue Moon </option>
                <option value="The Corner House"> The Corner House </option>
                <option value="The Haymakers"> The Haymarkers </option>
                <option value="The Junction (J1)"> The Junction (J1) </option>
                <option value="The Junction (J2)"> The Junction (J2) </option>
                <option value="The Junction (J3)"> The Junction (J3) </option>
                <option value="The Portland Arms"> The Portland Arms </option>
            </select>
        </div>
    </div>

    <div class="input-field">
        <label for="date">Date</label>
        <input type="text" id="date" name="date" required>
    </div>
    <div class="image-selector input-field">     
        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/*" required>
    </div>
    <div class="input-field">
        <label for="tickets-url">Tickets URL</label>
        <input type="text" name="ticketsUrl">
    </div>
    <div class="input-field">
        <label for="Price">Price</label>
        <input type="number" step="0.01" name="price">
    </div>
    <div class="input-field">
        <label for="website-url">Website URL</label>
        <input type="text" name="website" >
    </div>
    <div class="input-field">
        <label for="facebook">Facebook Profile URL</label>
        <input type="text" name="facebook" >
    </div>
    <div class="input-field">
        <label for="twitter">Twitter Profile URL</label>
        <input type="text" name="twitter">
    </div>
    <div class="input-field">
        <label for="instagram">Instagram Profile URL</label>
        <input type="text" name="instagram">
    </div>
    <div class="input-field">
        <label for="youtube">YouTube Profile URL</label>
        <input type="text" name="youtube">
    </div>
    <div class="input-field">
        <label for="youtubeVideoID">YouTube Video ID</label>
        <input type="text" name="youtubeVideoID">
    </div>
    <div class="input-field">
        <label for="spotify">Spotify Profile URL</label>
        <input type="text" name="spotify">
    </div>
    <div class="input-field">
        <label for="bandcamp">Bandcamp Profile URL</label>
        <input type="text" name="bandcamp">
    </div>
    <div class="input-field">
        <label for="description">Band Bio</label>
        <textarea type="text" name="description"></textarea>
    </div>

    <div class="input-field">
        <input type="submit" value="Submit" class="submit-btn">
    </div>
    
</form>
</div>

<% include ../partials/_footer %>