<% include ../partials/_header %>

<h1 class="form-heading">Create a new gig</h1>

<div class="form-wrapper">
    <form id="form" class="form" action="/gigs" method="POST" enctype="multipart/form-data"> 

    <div class="input-field">
        <label for="headliner">Headliner</label>
        <input type="text" name="name" placeholder="Headliner">
    </div>
    <div class="input-field">
        <label for="supports">Supports</label>
        <input type="text" name="supports" placeholder="Supports">
    </div>

    <div class="input-field">
        <label for="venue">Venue</label>
        <div class="custom-select">
            <select type="text" name="venue" placeholder="venue">
                <option class="venue-placeholder" value="Please Choose A Venue"> Select a venue </option>
                <option value="Cambridge Corn Exchange"> Cambridge Corn Exchange </option>
                <option value="Flying Pig"> Flying Pig </option>
                <option value="Hidden Rooms"> Hidden Rooms </option>
                <option value="Storey's Field Centre"> Storey's Field Centre </option>
                <option value="The Blue Moon"> The Blue Moon </option>
                <option value="The Corner House"> The Corner House </option>
                <option value="The Haymakers"> The Haymarkers </option>
                <option value="The Junction (J1)"> The Junction (J1) </option>
                <option value="The Junction (J2)"> The Junction (J2) </option>
                <option value="The Junction (J3)"> The Junction (J3) </option>
                <option value="The Portland Arms"> The Portland Arms </option>
            </select>
        </div>
    </div>

    <div class="input-field">
        <label for="date">Date</label>
        <input type="text" id="date" name="date" placeholder="Select a date" >
    </div>
    <div class="image-selector input-field">     
        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/*" required>
    </div>
    <div class="input-field">
        <label for="tickets-url">Tickets URL</label>
        <input type="text" name="ticketsUrl" placeholder="Tickets URL">
    </div>
    <div class="input-field">
        <label for="Price">Price</label>
        <input type="number" step="0.01" name="price" placeholder="Price">
    </div>
    <div class="input-field">
        <label for="website-url">Website URL</label>
        <input type="text" name="website" placeholder="Website URL">
    </div>
    <div class="input-field">
        <label for="facebook">Facebook Profile URL</label>
        <input type="text" name="facebook" placeholder="Facebook Profile URL">
    </div>
    <div class="input-field">
        <label for="twitter">Twitter Profile URL</label>
        <input type="text" name="twitter" placeholder="Twitter Profile URL">
    </div>
    <div class="input-field">
        <label for="instagram">Instagram Profile URL</label>
        <input type="text" name="instagram" placeholder="Instagram Profile URL">
    </div>
    <div class="input-field">
        <label for="youtube">YouTube Profile URL</label>
        <input type="text" name="youtube" placeholder="YouTube Profile URL">
    </div>
    <div class="input-field">
        <label for="youtubeVideoID">YouTube Video ID</label>
        <input type="text" name="youtubeVideoID" placeholder="YouTube Video ID">
    </div>
    <div class="input-field">
        <label for="spotify">Spotify Profile URL</label>
        <input type="text" name="spotify" placeholder="Spotify Profile URL">
    </div>
    <div class="input-field">
        <label for="bandcamp">Bandcamp Profile URL</label>
        <input type="text" name="bandcamp" placeholder="Bandcamp Profile URL">
    </div>
    <div class="input-field">
        <label for="description">Bio</label>
        <textarea type="text" name="description" placeholder="Bio"></textarea>
    </div>

    <div class="input-field">
        <input type="submit" value="Submit" class="submit-btn">
    </div>
    
</form>
</div>

<% include ../partials/_footer %>